body, p{
  margin: 0;
}

a{
  text-decoration: none;
}

input{
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

textarea{
  background: none;
  border: none;
  outline: none;
  resize: none;
}
