header{
  margin: 8px 0 8px 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: 1px solid rgb(25, 25, 25);
  border-radius: 10px;
}
@media (orientation: portrait) {header{
  width: calc(100vw - 16px);
  height: 64px;
}}
@media (orientation: landscape) {header{
  display: inline-block;
  width: 64px;
  height: calc(var(--vh) - 16px);
  vertical-align: top;
}}
body.no_border > header{
  border: 0;
}
body.no_border_radius > header{
  border-radius: 0;
}

@media (orientation: portrait) {
  header .icon:first-child{
    border-right: 4px solid rgb(35, 35, 35);
  }
  body.no_border > header .icon:first-child{
    border-right: 4px solid rgb(40, 40, 40);
  }
  header #icon_trash{
    padding: 0 0 0 calc(100% - 132px);
  }
}
@media (orientation: landscape) {
  header .icon:first-child{
    padding: calc((var(--vh) / 2) - 8px - 32px) 0;
  }
  header #icon_settings{
    padding: 0;
    border-bottom: 4px solid rgb(40, 40, 40);
  }
  header.border #icon_settings{
    padding: 0;
    border-bottom: 4px solid rgb(35, 35, 35);
  }
  header #icon_trash{
    padding: calc(var(--vh) - 148px) 0 0 0;
  }
}

@media (orientation: portrait) {header > #title_sub{
  display: inline-flex;
  width: calc(100% - 68px);
  height: 64px;
  vertical-align: top;
  text-align: center;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-family: "Verdana";
  color: rgb(100, 100, 100);
  font-size: 18px;
  padding: 4px;
  box-sizing: border-box;
}}
@media (orientation: landscape) {header > #title_sub{
  display: none;
}}

main{
  overflow: auto;
}
@media (orientation: portrait) {main{
  height: calc(var(--vh) - 16px - 64px - 64px - 16px);
}}
@media (orientation: landscape) {main{
  display: inline-block;
  width: calc(100vw - 16px - 64px - 64px - 16px);
  height: calc(var(--vh) - 16px);
  margin: 8px;
  vertical-align: top;
}}
@media (orientation: portrait) {main.half_full{
  height: calc(var(--vh) - 16px - 64px);
}}
@media (orientation: landscape) {main.half_full{
  width: calc(100vw - 16px - 64px - 8px);
}}

footer{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: 1px solid rgb(25, 25, 25);
  border-radius: 10px;
}
body.no_border > footer{
  border: 0;
}
body.no_border_radius > footer{
  border-radius: 0;
}
@media (orientation: portrait) {
  footer{
    width: calc(100vw - 16px);
    height: 64px;
    margin: 8px 0 8px 8px;
    text-align: center;
  }
  footer > .icon{
    padding: 0 calc(50% - 32px);
  }
}
@media (orientation: landscape) {
  footer{
    display: inline-block;
    width: 64px;
    height: calc(var(--vh) - 16px);
    margin: 8px 8px 8px 0;
    vertical-align: top;
  }
  footer > .icon{
    padding: calc((var(--vh) / 2) - 8px - 32px) 0;
  }
}

.icon{
  display: inline-block;
  font-size: 0;
}
