#menu_settings{
  display: inline-block;
}
@media (orientation: portrait) {#menu_settings > .icon{
  border-right: 4px solid rgb(40, 40, 40);
}}
@media (orientation: landscape) {#menu_settings > .icon{
  border-bottom: 4px solid rgb(40, 40, 40);
}}

#menu_settings_back{
  display: inline-block;
}
@media (orientation: portrait) {#menu_settings_back > .icon{
  border-right: 4px solid rgb(40, 40, 40);
}}
@media (orientation: landscape) {#menu_settings_back > .icon{
  padding: calc((var(--vh) / 2) - 8px - 32px) 0;
}}

@media (orientation: portrait) {#menu_note_trash{
  display: inline-block;
  width: calc(100% - 68px);
}}
@media (orientation: landscape) {#menu_note_trash{
  display: inline-block;
}}

#menu_trash_back{
  display: inline-block;
}
@media (orientation: portrait) {#menu_trash_back > .icon{
  border-right: 4px solid rgb(40, 40, 40);
}}
@media (orientation: landscape) {#menu_trash_back > .icon{
  padding: calc((var(--vh) / 2) - 8px - 32px) 0;
}}

@media (orientation: portrait) {#menu_trash_delete_all > .icon{
  padding: 0 calc(50% - 32px);
}}
@media (orientation: landscape) {#menu_trash_delete_all > .icon{
  padding: calc((var(--vh) / 2) - 8px - 32px) 0;
}}

#menu_note_trash_number{
  color: rgb(65, 65, 65);
  font-size: 12px;
  text-align: center;
  user-select: none;
  transition: color 0.1s linear;
}
@media (orientation: portrait) {#menu_note_trash_number{
  display: inline-block;
  width: calc(100% - 64px);
  height: 70px;
  line-height: 70px;
  vertical-align: top;
  text-align: right;
}}
@media (orientation: landscape) {#menu_note_trash_number{
  width: 64px;
  height: 32px;
  margin-top: calc(var(--vh) - 16px - 64px - 4px - 64px - 32px);
}}
#menu_note_trash_number.orange{
  color: rgb(130, 90, 65);
}
#menu_note_trash_number.red{
  color: rgb(130, 65, 65);
}

#menu_note_add > .icon{
  overflow: hidden;
}
@media (orientation: portrait) {
  #menu_note_add > .icon{
    height: 64px;
    padding: 0 calc(50% - 48px);
  }
  #menu_note_add > .icon > canvas{
    margin-top: -16px;
  }
}
@media (orientation: landscape) {
  #menu_note_add > .icon{
    width: 64px;
    padding: calc((var(--vh) / 2) - 8px - 48px) 0;
  }
  #menu_note_add > .icon > canvas{
    margin-left: -16px;
  }
}

@media (orientation: portrait) {
  #menu_title_sub{
    display: inline-block;
    width: calc(100% - 68px);
    vertical-align: top;
    text-align: center;
    user-select: none;
  }
  #menu_title_sub > p{
    line-height: 64px;
    color: rgb(100, 100, 100);
    font-size: 13px;
  }
}
@media (orientation: landscape) {
  #menu_title_sub{
    display: none;
  }
}
