#settings{
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  border: 1px solid rgb(25, 25, 25);
  border-radius: 10px;
}
body.no_border > #settings{
  border: 0;
}
body.no_border_radius > #settings{
  border-radius: 0;
}

#settings .icon{
  width: 96px;
  text-align: center;
}

.settings_section{
  padding: 16px 0;
  border-bottom: 1px solid rgb(65, 65, 65);
  user-select: none;
}
.settings_section.visible{
  padding: 16px 0 0 0;
}

.settings_section_header{
  display: flex;
  align-items: center;
  padding: 16px 0 16px 16px;
}
.settings_section_header canvas{
  transition: transform 0.2s linear;
}
.settings_section.visible .settings_section_header canvas{
  transform: rotate(180deg);
}

.settings_section_title{
  width: calc(100% - 96px);
  font-family: "Verdana";
  color: rgb(100, 100, 100);
  font-size: 16px;
}

.settings_section_main{
  background-color: rgb(50, 50, 50);
}

.settings_section_element{
  display: inline-flex;
  width: 100%;
  padding: 16px 0 16px 24px;
  box-sizing: border-box;
  align-items: center;
  transition: background-color 0.1s linear;
}
.settings_section_element.validate{
  background-color: rgba(115, 255, 115, 0.3);
}
.settings_section_element.cancel{
  background-color: rgba(255, 115, 115, 0.3);
}
.settings_section_element.borderTop{
  border-top: 1px solid rgb(65, 65, 65);
}

.settings_section_element_text{
  width: calc(100% - 96px);
  font-family: "Verdana";
}

.settings_section_element_title{
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.settings_section_element_description{
  margin-top: 8px;
  color: rgb(100, 100, 100);
  font-size: 16px;
}
.settings_section_element_description.marginBottom{
  margin-bottom: 8px;
}
.settings_section_element.red .settings_section_element_description{
  color: rgb(255, 115, 115);
}

.settings_option{
  font-family: "Verdana";
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 16px 0 16px 24px;
  border-bottom: 1px solid rgb(65, 65, 65);
  user-select: none;
}
.settings_option.selected{
  background-color: rgb(40, 120, 215);
}
.settings_option.custom{
  color: rgb(100, 100, 100);
}
.settings_option.custom.selected{
  color: rgb(255, 255, 255);
}
