#settings_main{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.settings_main_option{
  position: relative;
  height: 64px;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.8);
}

.settings_main_option_title{
  display: inline-block;
  width: 100%;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  vertical-align: top;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 18px;
}

body.settings #note_main_canvas_settings{
  background-color: rgb(30, 30, 30);
}

@media (orientation: portrait) {
  #settings_main{
    height: calc(100vh - 64px);
  }

  .settings_main_option{
    width: calc(100% - 16px);
  }
}

@media (orientation: landscape) {
  #settings_main{
    left: 0;
    width: calc(100vw - 64px);
  }

  .settings_main_option{
    display: inline-block;
    width: calc(50% - 12px);
  }
}
