.canvas:hover{
  filter: brightness(3);
  cursor: pointer;
}

.canvas_container{
  display: inline-block;
  line-height: 0;
}
.canvas_container:hover{
  background-color: rgb(30, 30, 30);
}
.canvas_container.active{
  background-color: rgb(30, 30, 30);
}

.canvas_container.red:hover{
  background-color: rgb(60, 40, 40);
}

.canvas.arrow_previous,
.canvas.arrow_first{
  transform: rotate(180deg);
}
