.icon{
  display: inline-block;
  font-size: 0;
  transition: background-color 0.1s linear;
}
.icon:hover{
  cursor: pointer;
}
.icon.dark_background:hover{
  background-color: rgb(30, 30, 30);
}
.icon.red_background:hover{
  background-color: rgba(255, 75, 75, 0.6);
}

.icon > canvas{
  transition: filter 0.1s linear;
}
.icon.rotate_180 > canvas{
  transform: rotate(180deg);
}
.icon.white > canvas{
  filter: brightness(3);
}
.icon:hover > canvas{
  filter: brightness(3);
}

.icon.add{
  padding: 0 32px 32px 32px;
  overflow: hidden;
}
.icon.add > canvas{
  margin-top: -32px;
}

.icon.trash_return{
  padding: 0 32px;
}

.icon.trash_delete_all{
  width: 100%;
  text-align: center;
}

.icon.note_fullscreen{
  position: absolute;
  bottom: 0;
  right: 0;
}
