.icon{
  display: inline-block;
  font-size: 0;
  transition: background-color 0.1s linear;
}
.icon:hover{
  cursor: pointer;
}
.icon.dark_background:hover{
  background-color: rgb(30, 30, 30);
}
.icon.red_background:hover{
  background-color: rgba(255, 75, 75, 0.6);
}

.icon > canvas{
  transition: filter 0.1s linear;
}
.icon.rotate_180 > canvas{
  transform: rotate(180deg);
}
.icon:hover > canvas{
  filter: brightness(3);
}
