main, aside{
  display: inline-block;
  vertical-align: top;
}
main{
  width: calc(100% - 256px);
  height: 100vh;
  overflow: auto;
}
main.full{
  width: 100vw;
}

h1, p, input, textarea, select{
  font-family: "press_start_2p";
}

.scrollbar_custom::-webkit-scrollbar{
  width: 8px;
}
.scrollbar_custom::-webkit-scrollbar-track{
  background: rgb(60, 60, 60);
}
.scrollbar_custom::-webkit-scrollbar-thumb{
  background: rgb(35, 35, 35);
}
.scrollbar_custom::-webkit-scrollbar-thumb:hover{
  background: rgb(30, 30, 30);
}

@font-face{
  font-family: "press_start_2p";
  src: url("../../rsc/font/press_start_2p.ttf");
  font-display: swap;
}
