.note{
  display: inline-block;
  width: 320px;
  height: 320px;
  margin: 32px 0 0 32px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.note_header{
  height: 64px;
  background-color: rgb(40, 40, 40);
}

.note_title{
  width: 192px;
  height: 100%;
  line-height: 64px;
  padding: 0 8px;
  box-sizing: border-box;
  vertical-align: top;
  color: rgb(245, 245, 245);
  font-size: 15px;
  transition: background-color 0.1s linear;
}
.note_title:hover, .note_title:focus{
  background-color: rgb(30, 30, 30);
}
.note_title.readonly:hover, .note_title.readonly:focus{
  background-color: initial;
}

.note_main{
  position: relative;
  height: calc(100% - 64px);
  background-color: rgb(50, 50, 50);
}

.note_text{
  width: 100%;
  height: 100%;
  padding: 16px;
  line-height: 28px;
  box-sizing: border-box;
  color: rgb(235, 235, 235);
  font-size: 13px;
  overflow: auto;
  cursor: auto;
}
.note_text::-webkit-scrollbar{
  width: 15px;
}
.note_text::-webkit-scrollbar-thumb{
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: rgb(35, 35, 35);
}
.note_text::-webkit-scrollbar-thumb:hover{
  background-color: rgb(30, 30, 30);
}

#note_fullscreen{
  width: calc(100% - 64px);
  height: calc(100vh - 64px);
  margin: 32px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#note_fullscreen .note_title{
  width: calc(100% - 64px);
  padding: 0 16px;
}
