#note_main{
  display: inline-block;
  width: 320px;
  height: 320px;
  margin: 32px 0 0 32px;
  vertical-align: top;
  background-color: rgb(50, 50, 50);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#note_main_header{
  height: 64px;
  background-color: rgb(40, 40, 40);
}

#note_main_canvas_add{
  padding: 32px 96px 96px 96px;
}
#note_main_canvas_add:hover{
  filter: brightness(2);
}

.note{
  display: inline-block;
  width: 320px;
  height: 320px;
  margin: 32px 0 0 32px;
  vertical-align: top;
  background-color: rgb(50, 50, 50);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.note_header{
  height: 64px;
  background-color: rgb(40, 40, 40);
}

.note_title{
  width: 192px;
  height: 64px;
  padding: 0 16px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 24px;
}
.note_title:hover, .note_title:focus{
  background-color: rgb(30, 30, 30);
}

.note_main{
  height: 256px;
}

.note_text{
  height: 256px;
  width: 320px;
  padding: 16px;
  box-sizing: border-box;
  line-height: 1.6em;
  font-size: 20px;
}

.note_arrow{
  height: 256px;
  width: 64px;
  line-height: 0;
  background-color: rgb(30, 30, 30);
  border-top: 1px solid rgb(40, 40, 40);
  box-sizing: border-box;
}
