#settings{
  width: calc(100% - 16px);
  margin-left: 16px;
}

.settings_note{
  height: calc(320px - 128px);
  overflow: auto;
  background-color: rgb(50, 50, 50);
}

.settings_note_header{
  height: 63px;
  border-bottom: 1px solid rgb(40, 40, 40);
}
.settings_note_header > *{
  width: 63px;
  border-right: 1px solid rgb(40, 40, 40);
}
.settings_note_header > *:last-child{
  width: 64px;
  padding: 0 calc(50% - 160px);
  border: none;
}

.settings_section{
  padding: 16px 0;
  border-top: 1px solid rgb(65, 65, 65);
}
.settings_section:first-child{
  border: none;
}

.settings_section_title{
  margin: 16px 0;
  padding: 0 0 0 16px;
  box-sizing: border-box;
  line-height: 12px;
  color: rgb(100, 100, 100);
  font-size: 10px;
  user-select: none;
}

.settings_section_element{
  display: inline-flex;
  width: 100%;
  padding: 16px 0 16px 24px;
  box-sizing: border-box;
  align-items: center;
  transition: background-color 0.1s linear;
}
.settings_section_element:hover{
  cursor: pointer;
  background-color: rgb(45, 45, 45)
}
#settings .settings_section_element:hover{
  background-color: rgb(35, 35, 35)
}

.settings_section_element_text{
  display: inline-block;
}

.settings_section_element_title{
  width: 100%;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  user-select: none;
}

.settings_section_element_description{
  width: 100%;
  margin-top: 8px;
  line-height: 15px;
  color: rgb(100, 100, 100);
  font-size: 10px;
  user-select: none;
}

.settings_section_element_icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  min-height: 48px;
  margin-left: auto;
  font-size: 0;
}
#settings .settings_section_element_icon{
  width: 128px;
  margin-right: 24px;
}

#settings .select{
  position: relative;
  display: inline-block;
  min-width: 128px;
  height: 48px;
  margin-left: auto;
  margin-right: 16px;
  text-align: center;
  overflow: hidden;
}
#settings .select.visible{
  overflow: visible;
}
#settings .select:hover{
  cursor: pointer;
}

#settings .option_selected{
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  padding: 0 24px 0 12px;
  box-sizing: border-box;
  color: rgb(200, 200, 200);
  font-size: 13px;
  background-color: rgb(40, 40, 40);
  transition: background-color 0.1s linear;
  user-select: none;
}
.settings_section_element:hover .option_selected{
  background-color: rgb(45, 45, 45)!important;
}

#settings .select_icon{
  position: absolute;
  right: 0;
  display: inline-flex;
  height: 48px;
  align-items: center;
  margin-right: 4px;
}
#settings .select_icon > canvas{
  height: 12px;
}

#settings .option_list{
  z-index: 2;
  position: relative;
  width: 100%;
  border: 1px solid rgb(100, 100, 100);
}

#settings .option{
  height: 100%;
  line-height: 48px;
  padding: 0 24px 0 12px;
  color: rgb(200, 200, 200);
  font-size: 13px;
  background-color: rgb(45, 45, 45);
  user-select: none;
}
#settings .option:hover{
  background-color: rgb(35, 35, 35);
}
