.settings_section{
  margin-left: 16px;
  padding: 16px 0;
  border-top: 1px solid rgb(65, 65, 65);
}
.settings_section:first-child{
  border: none;
}
.note .settings_section{
  margin-left: 0;
}

.settings_section_title{
  margin: 16px 0;
  padding: 0 0 0 16px;
  color: rgb(100, 100, 100);
  font-size: 10px;
  user-select: none;
}

.settings_section_element{
  display: inline-flex;
  width: 100%;
  padding: 16px 0 16px 24px;
  box-sizing: border-box;
  align-items: center;
  transition: background-color 0.1s linear;
}
.settings_section_element:hover{
  cursor: pointer;
  background-color: rgb(35, 35, 35);
}
.settings_section_element.validate{
  background-color: rgba(115, 255, 115, 0.3);
}
.settings_section_element.cancel{
  background-color: rgba(255, 115, 115, 0.3);
}

.settings_section_element_title{
  color: rgb(220, 220, 220);
  line-height: 18px;
  font-size: 13px;
  user-select: none;
}

.settings_section_element_description{
  margin-top: 10px;
  color: rgb(100, 100, 100);
  line-height: 15px;
  font-size: 10px;
  user-select: none;
}
.settings_section_element.red .settings_section_element_description{
  color: rgb(255, 115, 115);
}

.settings_section_element_icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  min-height: 48px;
  margin: 0 24px 0 auto;
  font-size: 0;
}
.note .settings_section_element_icon{
  width: 64px;
  margin: 0 0 0 auto;
}

.settings_section_element_select{
  position: relative;
  min-width: 128px;
  height: 48px;
  margin-left: auto;
  margin-right: 16px;
  text-align: center;
  overflow: hidden;
}
.settings_section_element_select.visible{
  overflow: visible;
}
.settings_section_element_select:hover{
  cursor: pointer;
}

.settings_section_element_select .option_selected{
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  padding: 0 24px 0 12px;
  box-sizing: border-box;
  color: rgb(200, 200, 200);
  font-size: 13px;
  background-color: rgb(40, 40, 40);
  transition: background-color 0.1s linear;
  user-select: none;
}
.settings_section_element:hover .option_selected{
  background-color: rgb(45, 45, 45)!important;
}

.settings_section_element_select .select_icon{
  position: absolute;
  right: 0;
  display: inline-flex;
  height: 48px;
  align-items: center;
  margin-right: 4px;
}
.settings_section_element_select .select_icon > canvas{
  height: 12px;
}

.settings_section_element_select .option_list{
  z-index: 2;
  position: relative;
  width: 100%;
  border: 1px solid rgb(100, 100, 100);
}

.settings_section_element_select .option{
  height: 100%;
  line-height: 48px;
  padding: 0 24px 0 12px;
  color: rgb(200, 200, 200);
  font-size: 13px;
  background-color: rgb(45, 45, 45);
  user-select: none;
  transition: 0.1s;
}
.settings_section_element_select .option:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(35, 35, 35);
}
.settings_section_element_select .option.selected{
  color: rgb(255, 255, 255);
  background-color: rgb(40, 120, 215);
}
.settings_section_element_select .option.selected:hover{
  background-color: rgb(40, 120, 215);
}

.settings_note_more{
  margin-top: 84px;
}
.settings_note_more:hover{
  cursor: pointer;
}
.settings_note_more:hover > p{
  color: rgb(255, 255, 255);
}
.settings_note_more.active{
  border-bottom: 1px solid rgb(65, 65, 65);
}
.settings_note_more > p{
  display: inline-block;
  width: calc(100% - 38px);
  padding: 16px;
  color: rgb(100, 100, 100);
  font-size: 10px;
  box-sizing: border-box;
  user-select: none;
  transition: color 0.1s linear;
}
.settings_note_more canvas{
  transition: transform 0.2s linear, filter 0.1s linear;
}
.settings_note_more.active canvas{
  transform: rotate(180deg);
}
.settings_note_more:hover canvas{
  filter: brightness(3);
}

.settings_note{
  height: calc(320px - 106px);
  overflow: auto;
  background-color: rgb(50, 50, 50);
}
.settings_note.hidden{
  display: none;
}
.settings_note::-webkit-scrollbar{
  width: 15px;
}
.settings_note::-webkit-scrollbar-thumb{
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: rgb(35, 35, 35);
}
.settings_note::-webkit-scrollbar-thumb:hover{
  background-color: rgb(30, 30, 30);
}

.settings_note_header{
  height: 63px;
  border-bottom: 1px solid rgb(40, 40, 40);
  transition: margin-top 0.1s linear;
}
.settings_note_header.hidden{
  margin-top: -212px;
}
.settings_note_header > *{
  width: 63px;
  border-right: 1px solid rgb(40, 40, 40);
}
.settings_note_header > *:last-child{
  width: 64px;
  border: none;
}

.settings_note_header_secondary{
  height: 63px;
  border-bottom: 1px solid rgb(40, 40, 40);
}
.settings_note_header_secondary > *{
  display: inline-block;
  width: calc(50% - 1px);
  border-right: 1px solid rgb(40, 40, 40);
  line-height: 64px;
  text-align: center;
  color: rgb(65, 65, 65);
  font-size: 13px;
  user-select: none;
  transition: color 0.1s linear;
}
.settings_note_header_secondary > *:hover{
  cursor: pointer;
}
.settings_note_header_secondary > *.active{
  color: rgb(200, 200, 200);
}
