#trash_list{
  height: 256px;
  overflow-y: auto;
  overflow-x: hidden;
}
#trash_list::-webkit-scrollbar {
  width: 10px;
}
#trash_list::-webkit-scrollbar-track {
  background-color: rgba(30, 30, 30, 0.8);
}
#trash_list::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
}
#trash_list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(60, 60, 60);
}

#trash_list > li{
  position: relative;
  display: inline-block;
  width: 320px;
  height: 64px;
  margin-top: 8px;
  background-color: rgba(30, 30, 30, 0.8);
}

#trash_list p{
  display: inline-block;
  width: 192px;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  vertical-align: top;
  padding-left: 16px;
  box-sizing: border-box;
  border-left: 1px solid rgb(40, 40, 40);
  border-right: 1px solid rgb(40, 40, 40);
  font-size: 18px;
}

#trash_background{
  position: fixed;
  width: 310px;
  height: 256px;
  overflow: hidden;
}

#canvas_trash_background{
  margin-top: -32px;
}

#note_main_canvas_trash{
  margin-left: 192px;
}
body.trash #note_main_canvas_trash{
  background-color: rgb(30, 30, 30);
}
body.trash #note_main_canvas_trash:hover{
  background-color: rgb(60, 40, 40);
}
